/*HTML body and main container*/

/*圖層:遮罩層:0 跳出頁二:1 跳出頁一:2 container:3;*/

body{
  margin:0;
  padding:0;
}

*{
  font-family:微軟正黑體;
}

.container{
  display:flex;
  flex-direction: row;
  width:100%;
  height:84vh;
  margin-top:5vh;
  z-index:3;
}
.header{
  display:flex;
  flex-direction:row;
  width:100%;
  height:8.6vh;
  background-color:#005584;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.35);
}
/*header part*/
.header-logo{
  width:10vw;
  margin-top:2.8vh;
  margin-left:10vw;
  background-size:100%;
  background-repeat: no-repeat;
  background-image: url("../img/eloan.png");
}
.header-login{
  margin-left:52vw;
  display:flex;
  flex-direction:row;
  margin-top:2.8vh;
}
.header-option{
  line-height:4vh;
	height:4vh;
	text-align: center;
	color: #FFFFFF;
	transition-duration: 0.4s;
	width:5.45vw;
  font-size:16px;
  border-color:#FFFFFF;
  border-style:solid;
  border-width:1px;
	margin-right:2px;
	border-radius:5px;
}
.header-member{
  margin-top:2vh;
  margin-left:7vw;
  width:7%;
  color:#FFFFFF;
}

/*left aside info bar*/
.info{
  width:10%;
}

.info-title{
  text-align:center;
  background-color:#eff6f9;
  color:#005584;
  font-size: 18px;
  font-weight: 800;
  height:3.65vh;
  border-radius:5px;
  margin-bottom: 2px;
}
.info-description{
  text-align:center;
  background: #f7f7f7;
  color: #888888;
  height:12vh;
  border-radius:5px;
  margin-bottom: 2px;
}
.info-record{
  text-align:center;
  background: #f7f7f7;
  color: #888888;
  height:3.35vh;
  border-radius:5px;
}

/*main content*/
.main{
  width:90%;
  display:flex;
  flex-direction: row;
}

.main-header{
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content:space-between;
  height:13vh;
}

.main-tablist{
  display:flex;
  flex-direction: column;
  width:2%;
}
.main-tab{
  margin-top:0.1vh;
  text-align:center;
  font-size:20px;
  color:#888888;
  background-color:#f7f7f7;
  transition-duration:0.4s;
  border-radius: 8px 8px 0px 0px;
}
.main-tab:hover{
  color:#595757;
  background-color:#DEDFE0;
}
.main-content{
  height:80vh;
  width:98%;
  background: white;
  border-radius: 10px;
  border: #eeeeef solid 11px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
.tab-content{
  width:100%;
  height:100%;
  border-style: none;
}
/*next step jump out form*/
#cover{
  background: #000; 
  position: absolute; 
  left: 0px; 
  top: 0px; 
  width: 100%;
  filter: alpha(opacity=30); 
  opacity: 0.3;
  display: none; 
  z-index: 0;
}
.jumpout_form{
  width:53%;
  height:15%;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  left:23.5%;
  top:42.5%;  
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  opacity: 0;
  z-index: 2;
}
#form_text{
  width:95%;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #595757;
  font-weight: bold;
}
#form_cancel{
  width:5%;
}
.SelectButton{
  width:15%;
  height: 39%;
  border-radius: 12px;
  border-style: solid;
  border-width: 2.5px;
  text-align: center;
  font-size:110%;
  line-height: 300%;
  font-weight: bold;
  color: white;
}
.left4Button{
  background-color: #005584;
    border-color: #005584;
}
.right2Button{
  background-color: #888888;
  border-color: #888888;
}
.left4Button:hover{
  background-color: white;
  color: #005584;
  border-color: #005584;
}
.jumpout_form2{
  position: absolute;
  left: 22.15%;
  top:32%;
  width: 55.7%;
  height: 33.14%;
  background-color: white;
  border-radius: 15px;
  opacity: 0;
  z-index: 1;
}
.SelectedButton{
  position: relative;
  display: inline-block;
  margin-top:2%;
  left:-1.8%;
  width: 15%;
  height: 17.6%;
  border-radius: 12px;
  text-align: center;
  font-size: 150%;
  line-height: 210%;
  background-color: #005584;
  font-weight: bold;
  color: white;
}
.SelectOption{
  position: relative;
  display: inline-block;
  width:15%;
  height: 90%;
  margin-left: 8%;
  font-size: 20px;
  color: #595757;
}
.SelectOption2{
  position: relative;
  display:inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width:21%;
  height: 80%;
  margin-left: 5%; 
  font-size: 20px;
  color: #595757;
}
#form2_cancel{
  position: relative;
  display: inline-block;
  left:94.5%;
  top:1%;
}
.decide_back_block{
  position: relative;
  width: 25%;
  height: 12.2%;
  bottom:25%;
  left:74%;
}
.decide_back_button{
  display: inline-block;
  width:30%;
  height: 100%;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  background-color: #005584;
  font-weight: bold;
  color: white;
  margin-left: 25%;
  border-color: #005584;
  border-style: solid;
  border-width: 2.5px;
}
.back_button{
  margin-left: 5%;
}
.decide_back_button:hover{
  background-color: white;
  color: #595757;
  border-color: #595757;
}