/*HTML body and main container*/

/*圖層:遮罩層:0 跳出頁二:1 跳出頁一:2 container:3;*/

body,html{
  font-family:微軟正黑體;
  margin:0;
  padding:0;
}

.container{
  display:flex;
  flex-direction: row;
  width:100%;
  height:84vh;
  margin-top:5vh;
  z-index:3;
}
.header{
  display:flex;
  flex-direction:row;
  width:100%;
  height:8.6vh;
  background-color:#005584;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.35);
}
/*header part*/
.header-logo{
  width:10vw;
  margin-top:2.8vh;
  margin-left:10vw;
  background-size:100%;
  background-repeat: no-repeat;
  background-image: url("../img/eloan.png");
}
.header-login{
  margin-left:52vw;
  display:flex;
  flex-direction:row;
  margin-top:2.8vh;
}
.header-option{
  line-height:4vh;
	height:4vh;
	text-align: center;
	color: #FFFFFF;
	transition-duration: 0.4s;
	width:5.45vw;
  font-size:16px;
  border-color:#FFFFFF;
  border-style:solid;
  border-width:1px;
	margin-right:2px;
	border-radius:5px;
}
.header-member{
  margin-top:2vh;
  margin-left:7vw;
  width:7%;
  color:#FFFFFF;
}

/*left aside info bar*/
.info{
  width:10%;
  margin-right:10px;
}

.info-title{
  text-align:center;
  background-color:#eff6f9;
  color:#005584;
  font-size: 18px;
  font-weight: 800;
  height:3.65vh;
  border-radius:5px;
  margin-bottom: 2px;
}
.info-description{
  text-align:center;
  background: #f7f7f7;
  color: #888888;
  height:12vh;
  border-radius:5px;
  margin-bottom: 2px;
}
.info-record{
  text-align:center;
  background: #888888;
  color: #FFFFFF;
  line-height: 4vh;
  height:4vh;
}

.info-category:hover{
  background-color:#C8C9CA;
}

.info-category{
  background-color: #F7F7F7;
  list-style: none;
  line-height: 4vh;
  height:4vh;
  transition: 2s;
  margin-top:2px;
}
.info-category::-webkit-details-marker {
  display: none;
}
.info-category ::-moz-list-bullet {
  font-size: 0;
}

.info-category::after{
  content: '';
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  margin: .2em 0 0 .5ch;
  margin-top:1.3vh;
  background: url(../img/arrow.png) no-repeat;
  background-size: 100% 100%;
  transition: 2s;
}
.info-tab{
  background-color: #EAEAEA;
  line-height: 4vh;
  height:4vh;
}
.info-case{
  text-align:center;
  line-height:3vh;
  height:3vh;
}

/*main content*/
.main{
  width:90%;
  display:flex;
  flex-direction: row;
}

.main-header{
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content:space-between;
  height:13vh;
}

.main-tablist{
  display:flex;
  flex-direction: column;
  width:2%;
}
.main-tab{
  margin-top:0.1vh;
  text-align:center;
  font-size:20px;
  color:#888888;
  background-color:#f7f7f7;
  transition-duration:0.4s;
  border-radius: 8px 0px 0px 8px;
}
.main-tab:hover{
  color:#595757;
  background-color:#DEDFE0;
}
.main-content{
  height:80vh;
  width:98%;
  background: white;
  border-radius: 10px;
  border: #eeeeef solid 11px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
.tab-content{
  width:100%;
  height:100%;
  border-style: none;
}
.next{
  background-color: #005584;
  color:#FFFFFF;
  border-radius:5px;
  text-align:center;
  line-height: 4vh;
  height:4vh;
}