.top
.home1 
.s1
.home2
.s2
.home3
.logo
.button1 聯絡窗口
.button2 登出系統
.file
.button5 客戶文件夾
.button6 信用貸款<br>消金TM豐利金<br>陳小明<br>L1234556789056
.button7 ▣ 各項紀錄
.content
  #page1.page 核貸書
  #page2.page 核貸紀錄
  #page3.page 申請書
  #page4.page 紀錄報告
  #page5.page 掃描檔案
  .saveb 儲存
  .prinb 列印
  .hamb  ≡
  .banner1 業務人員申請內容
  .banner2 核貸委員申請紀錄
  .banner3 核委意見
  .banner4 窗口意見 
.menu
  .button8 同意
  .button9 不予承作
  .button10 退回
  .button11 轉承
  .button12 調整簽核流程
  .button13 線審
  
  
